/* ================ COMMON ================ */

.address {
    display: inline-block;
    max-width: 240px;
    line-height: 24.3px;
    font-style: normal;
    font-size: 18px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000000;
}

/* ================ HEADER ================ */

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 90px 50px 96px;
}

.header__links-list {
    display: flex;
    gap: 30.5px;
    list-style: circle;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.header__links-list-item {
    padding-left: 3px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-underline-position: under;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__address {
    justify-self: end;
}

/* ================ MAIN ================ */

/* ===== Cover section ===== */

.cover {
    height: 757px;
    position: relative;
    background: url(../images/cover.jpg) center/cover no-repeat;
    padding: 165px 50px 50px;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    font-style: bold;
    line-height: 115%;
    letter-spacing: 30px;
    position: relative;
    z-index: 2;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
    padding-left: 30px;
}

.aligned-text_right {
    text-align: right;
    margin-right: -30px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
    position: relative;
    z-index: 2;
}

.cover__description-text {
    align-self: center;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    word-spacing: 19px;
}

.bet-button {
    width: 256px;
    height: 51px;
    background: transparent;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
}

/* ===== Cover section ===== */

.lots {
    padding: 180px 24px 120px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    display: flex;
    flex-direction: column;
    width: 334px;
    min-height: 596px;
}

.card-link {
    text-decoration: none;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 48px 40px;
    height: 100%;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-underline-offset: -4px;
    text-underline-position: under;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg) center/cover no-repeat;;
}

.card_type_book {
    background: url(../images/card-lot-02.jpg) center/cover no-repeat;;
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg) center/cover no-repeat;;
}

.lots__look-more-link {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-underline-offset: 5px;
    text-transform: lowercase;
    margin-left: 40px;
    margin-top: 30px;
}

/* ===== About section ===== */

.about {
    display: grid;
    grid-template-columns: 334px auto;
    column-gap: 24px;
    margin: 0 24px;
}

.about__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    background: black;
    border-radius: 50%;
    margin: 35px 0 0 47px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column-text {
    margin-top: 136px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.bottom-margin {
    margin-bottom: 24px;
    padding-right: 5px;
}

/* ================ FOOTER ================ */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: start;
    padding: 82px 50px;
    margin-top: 99px;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.footer__menu-link {
    text-underline-position: under;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}